.container-fluid{
    background: #ecc96f;
    margin:10px;
}
body{
    padding-top: 140px;
}
.container{
    margin-top: 5px;
    margin-bottom: 5px;
}
.initial_text{
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}
.correct{
    font-size: large;
    font-weight: bold;
}