<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<th:block>
    <th:block th:fragment="content">

        <div class="container">
            <div class="col-6">
                <label for = "initial_text"><b></b></label>
                <label for = "count"><b></b></label>
                <label for = "life"><b></b></label>

            </div>
            <div class="col-6">
                <label for = "correct"><b></b></label>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>

</html>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#button-send").on("click", (e) => {
            send();
        });

        const websocket = new WebSocket("ws://localhost:8080/ws/chat");
        var username;
        var life = 100;

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        $("label[for='life']").text("점수 : " + life);

        function send(){
            let msg = document.getElementById("msg");
            websocket.send(JSON.stringify({"command":username, "message":msg.value}));
            msg.value = '';
        }

        function onClose(evt) {
            websocket.send(JSON.stringify({"command":username, "message":" 님이 방을 나가셨습니다."}));
        }

        //채팅창에 들어왔을 때
        function onOpen(evt) {
            websocket.send(JSON.stringify({"command":"새로운 유저", "message":"가 입장하셨습니다."}));
        }

        function onMessage(msg) {
            if(life < 0){
                alert("게임에서 패배하셨습니다.");
                onClose();
            }
            var data = msg.data;
            var jsonValue = JSON.parse(data);
            console.log("data "+data);
            var command = jsonValue.command;
            var message = jsonValue.message;
            var list = jsonValue.list;

            var cur_session = username;

            if(command == "ID"){
                username = message;
                console.log(username);
            }
            else if(command == "answer"){
                if(message == "correct"){
                    $("label[for='correct']").text("정답입니다.");
                    document.getElementById('msg').readOnly = true;
                }
                else{
                    $("label[for='correct']").text("오답입니다.");
                }
            }
            else if(command == "status"){
                if(message == "error"){
                    alert("게임 참가 불가!");
                }
            }
            else if(command == "time"){
                if(message == "time_out"){

                    if(!document.getElementById('msg').readOnly){
                        var str = "<div class='col-6'>";
                        str += "<div class='alert alert-warning'>";
                        str += "<b style='color:deeppink'>" + "시간만료입니다. 10점 감점입니다." + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                        life = life - 20;
                        $("label[for='life']").text("점수 : " + life);
                    }
                    document.getElementById('msg').readOnly = false;
                }
                else{
                    $("label[for='count']").text(message);
                    console.log("시간 " + message);
                }
            }
            else if(command == "firstLetter"){
                $("label[for='initial_text']").text(message); //초성 설정
            }
            else if(command == "definitions"){
                if(message == "사전에 정의되지 않은 단어입니다."){
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b style='color:blue'>" + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else{
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b style='color:blue'>";
                    list.forEach(element => str += (element+"</br>"));
                    str += "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
            }
            else {
                if (command == cur_session) {
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + command + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else {
                    if (command == "새로운 유저") {
                        var str = "<div class='col-6'>";
                        str += "<div class='alert alert-secondary'>";
                        str += "<b>" + username + message + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    } else {
                        var str = "<div class='col-6'>";
                        str += "<div class='alert alert-warning'>";
                        str += "<b style='color:red'>" + command + " : " + message + "</b>";
                        str += "</div></div>";
                        $("#msgArea").append(str);
                    }
                }
            }
        }
    })
</script>
